.links-container {
    max-width: 1120px;
    margin: 2rem auto 0 auto;
}

.links-header {
    display: flex;
    flex-direction: row;
}

.links-header svg {
    margin-right: 1rem;
}

.links-header h1 {
    color: #fff;
}

.links-item {
    width: 44rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5rem;
}

.links-item:last-child {
    margin-bottom: 1rem;
}

.link {
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 6px;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    color: #fff;
}

/* Não permite um link gigantesco transbordar seu o espaço  */
.link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link svg {
    margin-right: 1rem;
}

.link-delete {
    border: 0;
    background: transparent;
}

@media (max-width: 715px) {
    .links-container {
        width: 90%;
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    .links-item {
        width: 100%;
    }

    .link {
        width: 100%;
    }

    .link svg {
        display: none;
    }

}